:root{
 --color: #313131;
    --color-deep:#141313;
    --color-2:#040404;
    --color-3:#898989;
     --color-white: #ffffff;
      --primary-color: #ba3326;
    --primary-bg:#ba3326;
    --primary-bg-deep:#7d150b;
    --sub_MENU-hover:rgb(212 99 99 / 20%);
    --light-color:#716e6e;
    --white-bg: #fff;


}